
node_modules/
dist/
out-tsc/
coverage/


.angular/


*.log
*.lock
*.gz
*.tmp

.DS_Store
Thumbs.db
.idea/
.vscode/
*.iml

*.merge
/environment.ts
/firebase-debug.log
/firebase-error.log
.public/
./.firebase
